*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    max-width: 560px;
    margin: auto;
    margin-top: 20px;
}
#inner_main p{
    padding: 15px;
}
.title{
    padding: 15px;

    margin-bottom: 10px;
}